body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-succes: #4bb544;
    --bord-radius: 15px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url("/LoginBackground.jpg");
    background-size: cover;
}

.container {
    width: 800px;
    max-width: 95%;
    height: 90%;
    max-height: 90%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0, 0, 0.2);
    border-radius: var(--bord-radius);
    background: #ffffff;
}

.headerAddPerson {
    padding: .1rem 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerAddPerson .title {
    font-size: 1.5rem;
    font-weight: bold;
}
